.fondo{
position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;

background: #3C4454;
border-radius: 15px;
}

.barra{
position: absolute;
width: 1382px;
height: 118px;
top: 8%;
left: 50%;
transform: translate(-50%, -50%);

background: #040422;
border-radius: 15px;
}

#img1{
position: absolute;
width: 239px;
height: 118px;
left: 601px;
}